* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.margin {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #bbb;
  width: 100%;
}

.first {
  width: 300px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 15px;
}

.center {
  padding: 10px 0;
}

.center img {
  width: 250px;
}

.last {
  padding: 10px 20px;
}

.last button {
  color: white;
  background-color: rgb(50, 104, 145);
  font-weight: 500;
  border: none;
  border-color: rgb(50, 104, 145);
  padding: 10px 20px;
  border-radius: 3px;
}

section {
  width: 75%;
  margin: 100px 0 0 0;
}

.main-header {
  margin: 50px auto 20px auto;
  font-size: 25px;
  width: 600px;
  text-align: center;
  text-transform: italic;
}

.main-img {
  width: 100%;
}

.main-img-container figcaption {
  color: rgb(160, 160, 160);
  width: 70%;
}
.main-width {
  width: 50%;
  margin: 20px auto;
  line-height: 40px;
  font-size: 22px;
}
.artc-h {
  margin: 15px 0px;
}

.margin-sec {
  margin: 15px auto;
}
.editor-pick {
  width: 150px;
  text-align: center;
  float: right;
  margin: 1200px 50px 0 0;
}

.editor-pick figure{
  padding: 5px;
  width: 100%;
}

.editor-pick img {
  width: 60px;
}

.inflation {
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1em;
  column-gap: 1em;
}

.inflation-div {
  width: 75%;
}