*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.margin{
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: black;
}

nav{
  position: fixed;
  top: 0;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #bbb;
  width: 100%;
}

.first {
  width: 300px;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 15px;
}

.center{
  padding: 10px 0;
}

.center img{
  width: 250px;
}

.last{
  padding: 10px 20px;
}

.last button{
  color: white;
  background-color: rgb(50, 104, 145);
  font-weight: 500;
  border: none;
  border-color: rgb(50, 104, 145);
  padding: 10px 20px;
  border-radius: 3px;
}

section {
  width: 75%;
  margin: 100px 0 0 0 ;
}

.main-header{
  margin: 50px auto 20px auto;
  font-size: 25px;
  width: 600px;
  text-align: center;
  text-transform: italic;

}

.main-img{
  width: 100%;
}

.main-img-container figcaption{
  color: rgb(160, 160, 160);
  width: 70%;
}
